# The base URL where the application is hosted, this is used to download assets by the client
HOST=https://example.com

# The type of storage to use for binary files (options: local, supabase)
BLOB_STORAGE_TYPE=s3

# The type of database to use (options: postgres, supabase)
DB_TYPE=postgres

# Code Signing
# Base64 encoded private key for code signing
PRIVATE_KEY_BASE_64=''

# LOGIN
# Password for admin access to the application UI
ADMIN_PASSWORD=password

# Upload key to verify uploader has right to publish updates
# Change this to a strong password in production
UPLOAD_KEY=password

# DATABASE
# PostgreSQL database user
POSTGRES_USER=postgres
# PostgreSQL database password
POSTGRES_PASSWORD=password
# PostgreSQL database name
POSTGRES_DB=example_db
# PostgreSQL database host
POSTGRES_HOST=localhost
# PostgreSQL database port
POSTGRES_PORT=5432

DOMAIN=https://example.com
SSL_EMAIL=test@example.com

S3_REGION=us-east-1
S3_ENDPOINT=https://example.com
S3_BUCKET_NAME=my_bucket

NODE_ENV=production
PORT=3001

# AWS Settings
AWS_ACCOUNT_ID=my_account_id
AWS_REGION=us-east-1
CLOUDFRONT_DISTRIBUTION_ID=""
CLOUDFRONT_KVS_KEY=""
CLOUDFRONT_KVS_ARN=""
CLOUDFRONT_ORIGIN_SECRET=""

# Project & Versioning
IMAGE_NAME=project/xavia-ota-nextjs
APP_VERSION=1.0.0